<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>custom</title>
</head>

<body>
    <div class="wraper">
        <% include components/top-com.ejs %>
            <div class="coco-bootom">
                <div class="coco-llider">
                    <form action="?" method="post" enctype="multipart/form-data">
                        标题: <input type="text" name="title"> 描述: <input type="text" name="description"> 头像: <input type="file" name="f1">
                        <input type="submit" value="添加">
                    </form>
                </div>
                <div class="coco-content">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>标题</th>
                                <th>描述</th>
                                <th>头像</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0;i<evaluations.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= evaluations[i].ID %>
                                    </td>
                                    <td>
                                        <%= evaluations[i].title %>
                                    </td>
                                    <td>
                                        <%= evaluations[i].description %>
                                    </td>
                                    <td>
                                        <img src="/upload/<%= evaluations[i].src %>" alt="">
                                    </td>
                                    <td>
                                        <a href="?act=mod&id=<%= evaluations[i].ID %>">修改</a>
                                        <a href="?act=del&id=<%= evaluations[i].ID %>">删除</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <% if(typeof mod_data!='undefined'){ %>
                    <div>
                        <form action="?" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="mod_id" value="<%= mod_data[0].ID %>" /> 标题: <input type="text" name="title" value="<%= mod_data[0].title%>" /> 描述: <input type="text" name="description" value="<%= mod_data[0].description%>" /> 头像:
                            <input type="file" name="f1" />
                            <input type="submit" value="修改" />
                            <a href="/admin/custom">取消修改</a>
                        </form>
                    </div>
                    <% } %>
            </div>
    </div>
</body>

</html>